<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
    .bordered {
        border: 1px solid black;
        padding: 5px;
        margin: 5px;
        display: inline-block;
    }
    </style>
</head>
<body>

<div th:if="${user == null}"><a th:href="@{/login}">log in</a></div>

<div th:if="${user != null}">
    Привет, <span th:text="${user.getLogin()}"/>. <a th:href="@{/logout}">log out</a>

    <form th:action="@{/locations}" th:method="get">
        <div>
            <label for="location-name">Enter the name of the location:</label>
            <input type="text" th:name="location-name" id="location-name"/>
        </div>
        <div style="color: red" th:if="${errorMessage != null}" th:text="${errorMessage}">errors</div>
        <div th:if="${errorMessage == null}"><br/></div>
        <br>
        <button type="submit">Find</button>
    </form>

    <div th:each="location : ${locations}">
        <div class="bordered">
            Name of location: <span th:text="${location.getName()}"/><br>
            Country: <span th:text="${location.getCountry()}"/><br>
            State: <span th:text="${location.getState()}"/><br>
            <span th:text="${location.getLat()}"/><br>
            <span th:text="${location.getLon()}"/><br>
            <form th:action="@{/locations}" method="post" style="display:inline;" th:object="${location}">
                <input type="hidden" th:name="name" th:value="${location.getName()}"/>
                <input type="hidden" th:name="country" th:value="${location.getCountry()}"/>
                <input type="hidden" th:name="state" th:value="${location.getState()}"/>
                <input type="hidden" th:name="lat" th:value="${location.getLat()}"/>
                <input type="hidden" th:name="lon" th:value="${location.getLon()}"/>
                <button type="submit">Select</button>
            </form>
        </div>
        <br>
    </div>
</div>
</body>
</html>