<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>login</title>
</head>
<body>
<h1>Please, log in: </h1>
<form th:action="@{/login}" th:method="post" th:object="${user}">
    <div>
        <label for="login">Login:</label>
        <input type="text" th:field="*{login}" id="login"/>
    </div>
    <div style="color: red" th:if="${errorMessage != null}" th:text="${errorMessage}">errors</div>
    <div th:if="${errorMessage == null}"><br/></div>
    <div>
        <label for="password">Password:</label>
        <input type="password" th:field="*{password}" id="password"/>
    </div>
    <br>
    <button type="submit">Login</button>
</form>
<p>Or <a th:href="@{/register}">register</a> to continue.</p>
</body>
</html>